######################################################################
# Build Tools

# 本地开发配置（不要提交）
**/application-dev.yml
**/bootstrap-dev.yml

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

target/
!.mvn/wrapper/maven-wrapper.jar

######################################################################
# IDE

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### JRebel ###
rebel.xml
### NetBeans ###
nbproject/private/
build/*
nbbuild/
dist/
nbdist/
.nb-gradle/

######################################################################
# Others
*.log
*.log.*
*.xml.versionsBackup
*.swp

# Jars & runtime
*.jar
docker/**/logs/
docker/**/data/
docker/skywalking/
logs/

!*/build/*.java
!*/build/*.html
!*/build/*.xml